<h3>SignIN </h3>

<form action="/admin" method="post">
     <label for="username">
          <b>UserName</b>
     </label>
     <input 
     type="text" 
     placeholder="username.."
     name="username"
     >

     <label for="username">
          <b>Password</b>
     </label>
     <input 
     type="password" 
     placeholder="enter password"
     name="password"
     >

     <input type="submit" value="Login" class="btn">
</form>



<!-- <h3>Register </h3>

<form action="/register" method="post">
     <label for="username">
          <b>UserName</b>
     </label>
     <input 
     type="text" 
     placeholder="username.."
     name="username"
     >

     <label for="username">
          <b>Password</b>
     </label>
     <input 
     type="password" 
     placeholder="enter password"
     name="password"
     >

     <input type="submit" value="Signup" class="btn">
</form> -->